<section class="about">
    <div class="about__content">
        <h2 class="about__heading">
            ABOUT US
        </h2>
        <div class="about__image-wrapper">
            <img src="/about-image.webp" alt="" class="about__image">
        </div>
        <div class="about__text-content">

            <h3 class="about__secondary-heading">
                ADVAITA IS A GLOBAL COMMODITY TRADING GROUP ESTABLISHED IN 2014
            </h3>
            <div class="about__text">
                We specialise in base, precious and minor metals. Drawing on our deep knowledge and expertise in Europe,
                Central Asia and the Far East, we have formed valuable partnerships across the region. Our customers
                benefit from our excellent network of trusted partners and government contacts.
            </div>
        </div>

    </div>
</section>