<div class="equilizer">
    <div class="equilizer__row">
        <div class="equilizer__col">
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
        </div>
        <div class="equilizer__col">
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
        </div>
        <div class="equilizer__col">
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>

        </div>
        <div class="equilizer__col">
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>

        </div>
        <div class="equilizer__col">
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>
            <div class="equilizer__cell">

            </div>


        </div>
    </div>
</div>