<div class="loader ">
    <div class="loader__backplate">

    </div>
    <div class="loader__inner">
        <div class="loader__name loader__name--contacts">
            <div class="loader__name-letter">
                <img src="data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 148.28 235.9'%3E%3Cpath fill='white' d='M114.58,79.19h33.7v-18.53C148.28,26.96,121.32,0,87.62,0h-26.96C27.3,0,0,26.96,0,60.66v114.24c0,33.36,27.3,61,60.66,61h26.96c33.7,0,60.66-27.63,60.66-61v-18.54h-33.7v18.54c0,14.83-12.13,26.96-26.96,26.96h-26.96c-14.83,0-26.96-12.13-26.96-26.96V60.66c0-14.83,11.8-26.96,26.96-26.96h26.96c15.17,0,26.96,11.8,26.96,26.96v18.53Z' /%3E%3C/svg%3E"
                    alt="" class="loader__name-letter-image enter">
            </div>
            <div class="loader__name-letter">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 148.28 235.9'%3E%3Cpath fill='white' d='M87.62,235.9c33.7,0,60.66-27.63,60.66-61V60.66C148.28,26.96,121.32,0,87.62,0h-26.96C27.3,0,0,26.96,0,60.66v114.24c0,33.36,27.3,61,60.66,61h26.96Zm0-34.04h-26.96c-14.83,0-26.96-12.13-26.96-26.96V60.66c0-14.83,11.79-26.96,26.96-26.96h26.96c15.16,0,26.96,11.8,26.96,26.96v114.24c0,14.83-12.13,26.96-26.96,26.96Z' /%3E%3C/svg%3E"
                    alt="" class="loader__name-letter-image enter">
            </div>
            <div class="loader__name-letter">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 148.28 235.9'%3E%3Cpath fill='white' d='M114.58,0V179.28L48.87,0H0V235.9H33.7V56.62L99.42,235.9h48.87V0h-33.7Z' /%3E%3C/svg%3E"
                    alt="" class="loader__name-letter-image enter">
            </div>
            <div class="loader__name-letter">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 148.28 235.9'%3E%3Cpath fill='white' d='M148.28,0H0V33.7H57.29V235.9h33.7V33.7h57.29V0Z' /%3E%3C/svg%3E"
                    alt="" class="loader__name-letter-image enter">
            </div>
            <div class="loader__name-letter">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 148.28 235.9'%3E%3Cpath fill='white' d='M90.99,0H57.29L0,158.39v77.51H33.7v-54.59H114.58v54.59h33.7v-77.51L90.99,0Zm-17.19,53.25h.67l34.04,94.36H39.77L73.8,53.25Z' /%3E%3C/svg%3E"
                    alt="" class="loader__name-letter-image enter">
            </div>
            <div class="loader__name-letter">
                <img src="data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 148.28 235.9'%3E%3Cpath fill='white' d='M114.58,79.19h33.7v-18.53C148.28,26.96,121.32,0,87.62,0h-26.96C27.3,0,0,26.96,0,60.66v114.24c0,33.36,27.3,61,60.66,61h26.96c33.7,0,60.66-27.63,60.66-61v-18.54h-33.7v18.54c0,14.83-12.13,26.96-26.96,26.96h-26.96c-14.83,0-26.96-12.13-26.96-26.96V60.66c0-14.83,11.8-26.96,26.96-26.96h26.96c15.17,0,26.96,11.8,26.96,26.96v18.53Z' /%3E%3C/svg%3E"
                    alt="" class="loader__name-letter-image enter">
            </div>
            <div class="loader__name-letter">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 148.28 235.9'%3E%3Cpath fill='white' d='M148.28,0H0V33.7H57.29V235.9h33.7V33.7h57.29V0Z' /%3E%3C/svg%3E"
                    alt="" class="loader__name-letter-image enter">
            </div>
            <div class="loader__name-letter">
                <img src="data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 148.28 235.9'%3E%3Cpath fill='white' d='M0,159.74v13.48c0,34.71,27.97,62.68,62.68,62.68h22.58c35.72,0,63.02-25.61,63.02-59.31,0-71.11-111.21-84.92-111.21-120.65,0-13.82,10.78-22.24,28.98-22.24h15.84c16.18,0,29.32,12.81,29.32,28.98v10.11h33.7v-10.11C144.91,27.97,116.6,0,81.89,0h-15.84C29.32,0,3.37,22.92,3.37,55.94c0,64.03,111.21,74.14,111.21,120.65,0,14.83-12.13,25.61-29.32,25.61h-22.58c-15.84,0-28.98-13.14-28.98-28.98v-13.48H0Z' /%3E%3C/svg%3E"
                    alt="" class="loader__name-letter-image enter">
            </div>
        </div>
    </div>
</div>

<style>
    .no-scroll {
        overflow-y: scroll;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .no-scroll body {
        height: auto;
        overflow: hidden;
    }

    .loader {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 400;
        display: grid;
        grid-template-columns:
            [main-start] 1fr [content-start] minmax(0, var(--container-width, 0)) [content-end] 1fr [main-end];
        grid-gap: var(--content-padding, 0);
        color: white;

    }

    .loader.hidden {
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s, visibility 0s linear .4s;
    }

    .loader__backplate {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        background-color: #1f47f3;
    }


    .loader__backplate.hidden {
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s, visibility 0s linear .4s;
    }

    .loader__inner {
        grid-column-start: content-start;
        grid-column-end: content-end;
        grid-row: 1 / 2;
        align-self: flex-end;
        margin-bottom: 4rem;
        z-index: 2;
    }

    .loader__name {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 3rem;
        gap: 2%;
        transition: transform .7s ease-in-out;
        transform-origin: left top;
    }

    .loader__name-letter {
        width: 20rem;
        width: 100%;
        overflow: hidden;
    }

    .loader__name--service {
        gap: 5%;
        justify-content: center;
    }

    .loader__name--service .loader__name-letter {
        width: 16rem;

    }

    .loader__name--contacts {
        justify-content: center;
        gap: 3%;
    }

    .loader__name--contacts .loader__name-letter {
        width: 15rem;
    }

    .loader__name--products {
        gap: 3%;
        justify-content: center;
    }

    .loader__name--products .loader__name-letter {
        width: 18rem;
    }

    .loader__name-letter-image {
        display: block;
        width: 100%;
        height: auto;

    }

    .loader__name-letter-image.enter {
        animation-name: letter-animation;
        animation-iteration-count: infinite;
        animation-duration: 1.8s;
    }

    .loader__name-letter-image.exit {

        animation-play-state: paused;
    }

    @keyframes letter-animation {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }

        40% {
            transform: translateX(0%);
            opacity: 1;
        }

        60% {
            transform: translateX(0%);
            opacity: 1;
        }


        100% {
            transform: translateX(100%);
            opacity: 0;
        }
    }

    @keyframes ticker {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }


    @media (max-width: 640px) {


        .loader__inner {
            margin-bottom: 3rem;
        }

        .loader__name {
            gap: .8rem;
        }

        .loader__name-letter {
            width: 4.3rem;
        }
    }
</style>

<script>
    if (history.scrollRestoration) {
        history.scrollRestoration = "manual";
    }
</script>

<script src="/js/loader.js" defer=""></script>