<section class="service-brokerage">
    <div class="service-brokerage__content">

        <div class="service-brokerage__top-row">
            <h2 class="service-brokerage__heading service-block__heading--small">
                Market intellige&shy;nce
                & analitics
                <span class="service-brokerage__stage">
                    <span class="service-brokerage__stage-number active">02</span>
                    /
                    <span class="service-brokerage__stage-number">03</span>
                </span>
            </h2>
            <div class="service-brokerage__large-text">
                SOURCE, EVALUATE & ORGANISE. MANY EXPANDING BUSINESSES IN THE MINING SECTOR ARE LOOKING FOR …
            </div>
        </div>
        <img src="/candles.svg" alt="" class="service-brokerage__image">
        <div class="service-brokerage__bottom-row">


            <h3 class="service-brokerage__secondary-heading">
                TAILORED FINANCING SOLUTIONS
            </h3>
            <div class="service-brokerage__small-text">
                We place a premium on creating enduring and long-term relationships with mining companies while helping
                them broaden their reach in the global commodity market.
            </div>
        </div>

    </div>
</section>