<section class="service-block service-block--capital">
    <div class="service-block__content">
        <div class="service-block__left-col">
            <h2 class="service-block__heading">
                logistics&nbsp;<span class="service-block__stage"><span
                        class="service-block__stage-number active">03</span>/<span
                        class="service-block__stage-number">05</span>
                </span>
            </h2>
            <div class="service-block__plane">
                <img src="/plane-map.webp" alt="">
                {{> plane }}
                <div class="service-block__plane-icon">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#plane"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="service-block__right-col">
            <div class="service-block__large-text">
                TAILORED FINANCING SOLUTIONS. WE PLACE A PREMIUM ON CREATING ENDURING AND LONG-TERM...
            </div>
            <div class="service-block__info">
                <h3 class="service-block__info-heading">
                    TAILORED FINANCING<br> SOLUTIONS
                </h3>
                <div class="service-block__info-text">
                    We place a premium on creating enduring and long-term relationships with mining companies while
                    helping them broaden their reach in the global commodity market. Our strong network of trusted
                    partners in the banking sector enables us to provide our clients with tailored and responsible
                    financing solutions in addition to fair solutions for trade and finance processes and prepayments.
                    After careful evaluation by our analysts, we create the best solution for each individual client.
                    Over the years our dedicated team of experts has helped numerous partners achieve their financial
                    and business goals. By working with us, emerging producers have the unique opportunity to benefit
                    from our established global network to reach their full potential.
                </div>
            </div>
        </div>
    </div>
</section>