<section class="service-block service-block--risk" id="risk">
    <div class="service-block__content">
        <div class="service-block__left-col">
            <h2 class="service-block__heading">
                Risk management&nbsp;<span class="service-block__stage service-block__stage--compact">
                    <span class="service-block__stage-number active">05</span>/<span
                        class="service-block__stage-number">05</span>
                </span>
            </h2>
            <div class="service-block__risk">
                <img src="/risk.svg" alt="" class="service-block__risk-image js-image-to-reveal">
            </div>
        </div>
        <div class="service-block__right-col">
            <div class="service-block__large-text">
                TAILORED FINANCING SOLUTIONS. WE PLACE A PREMIUM ON CREATING ENDURING AND LONG-TERM...
            </div>
            <div class="service-block__info service-block__info--auto">
                <h3 class="service-block__info-heading">
                    SOURCING FROM THE CENTRAL ASIAN REGION
                </h3>
                <div class="service-block__info-text">
                    We place a premium on creating enduring and long-term relationships with mining companies while
                    helping them broaden their reach in the global commodity market. Our strong network of trusted
                    partners in the banking sector enables us to provide our clients with tailored and responsible
                    financing solutions in addition to fair solutions for trade and finance processes and prepayments.
                    After careful evaluation by our analysts, we create the best solution for each individual client.
                    Over the years our dedicated team of experts has helped numerous partners achieve their financial
                    and business goals. By working with us, emerging producers have the unique opportunity to benefit
                    from our established global network to reach their full potential.
                </div>
            </div>
        </div>
    </div>
</section>