<section class="service-block service-block--blue">
    <div class="service-block__content">
        <div class="service-block__left-col">
            <h2 class="service-block__heading service-block__heading--small">
                financing&nbsp;<span class="service-block__stage"><span
                        class="service-block__stage-number active">02</span>/<span
                        class="service-block__stage-number">05</span>
                </span>
            </h2>
            <div class="service-block__equilizer">
                {{> equilizer }}
            </div>
        </div>
        <div class="service-block__right-col">
            <div class="service-block__large-text">
                SOURCING FROM THE CENTRAL ASIAN REGION. COMMODITY TRADING IS AT THE HEART OF WHAT WE DO ...
            </div>
            <div class="service-block__info service-block__info--auto">
                <h3 class="service-block__info-heading">
                    SOURCING FROM THE CENTRAL ASIAN REGION
                </h3>
                <div class="service-block__info-text">
                    Drawing on decades of trading experience of our senior management Advaita has worked with leading
                    trading and mining companies, creating valuable relationships and trust with key players while
                    successfully establishing a regional presence in Europe, Central Asia and the Far East. Since its
                    inception In 2014, Advaita has emerged as one of the most prominent independent traders with strong
                    roots in the industry and has grown into a global entity, operating worldwide.
                </div>
            </div>
        </div>
    </div>
</section>