<section class="service-block service-block--commodity service-block--blue service-block--bottom-short">
    <div class="service-block__content">
        <div class="service-block__left-col">
            <h2 class="service-block__heading">
                COMMODITY TRADING&nbsp;<span class="service-block__stage"><span
                        class="service-block__stage-number active">02</span>/<span
                        class="service-block__stage-number">05</span></span>
            </h2>
            <div class="service-block__gems">
                <picture>
                    <source srcset="/gems-mobile.svg" media="(max-width: 640px)" />
                    <img src="/gems-desktop.svg" alt="" class="service-block__gems-image js-image-to-reveal" />
                </picture>
            </div>
        </div>
        <div class="service-block__right-col">
            <div class="service-block__large-text">
                SOURCE, EVALUATE & ORGANISE. MANY EXPANDING BUSINESSES IN THE MINING SECTOR ARE LOOKING FOR …
            </div>
            <div class="service-block__info">
                <h3 class="service-block__info-heading">
                    TAILORED FINANCING<br> SOLUTIONS
                </h3>
                <div class="service-block__info-text">
                    We place a premium on creating enduring and long-term relationships with mining companies while
                    helping them broaden their reach in the global commodity market.
                </div>
            </div>
        </div>
    </div>
</section>