.about {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [content-start] minmax(0, var(--container-width, 0))
    [content-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
  padding: 13rem 0;

  @media (--mobile) {
    padding: 7rem 0;
    overflow: hidden;
  }
}

.about__content {
  grid-column-start: content-start;
  grid-column-end: content-end;
  display: grid;
  align-items: flex-start;
  grid-template-columns: auto auto 1fr;
  grid-gap: 7rem;

  @media (--mobile) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.about__text-content {
  display: flex;
  flex-direction: column;

  @media (--mobile) {
    margin-bottom: 3rem;
  }
}

.about__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 4.2rem;
  line-height: 106%;
  font-family: var(--supply);

  @media (--mobile) {
    margin-bottom: 1.6rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
  }
}

.about__secondary-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 4.2rem;
  line-height: 106%;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 4rem;
  font-family: var(--supply);

  @media (--mobile) {
    margin-bottom: 1.6rem;
    font-style: normal;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 106%;
  }
}

.about__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  max-width: 66rem;
  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
  }
}

.about__image-wrapper {
  width: 44.8rem;

  @media (--mobile) {
    width: 24.8rem;
    margin: 0 auto;
    order: 10;
  }
}

.about__image {
  display: block;
  width: 100%;
  height: auto;
}
