.service-intro {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [content-start] minmax(0, var(--container-width, 0))
    [content-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
  color: white;
}

.service-intro__bg {
  grid-column-start: main-start;
  grid-column-end: main-end;
  grid-row: 1 / 2;
  position: relative;
}

.service-intro__bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-intro__content {
  grid-column-start: content-start;
  grid-column-end: content-end;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  min-height: 70rem;
  z-index: 5;

  @media (--mobile) {
    gap: 3rem;
    min-height: auto;
  }
}

.service-intro__main-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24.2rem;
  line-height: 90%;
  text-transform: uppercase;

  font-family: var(--supply);
  text-align: left;
  user-select: none;
  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 6.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 0;

    text-align: left;
  }
}

.service-intro__top-row {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 1rem;
  align-items: flex-start;

  @media (--mobile) {
    gap: 1.6rem;
    grid-template-columns: minmax(0, 1fr);
  }
}

.service-intro__secondary-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 4.2rem;
  line-height: 106%;
  text-transform: uppercase;

  font-family: var(--supply);
  grid-column: 1 / 2;

  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 130%;
    grid-column: 1 / -1;
  }
}

.service-intro__text {
  grid-column: 3 / -1;

  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;

  @media (--mobile) {
    grid-column: 1 / -1;

    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
  }
}
